@media screen and (max-width: 896px) {
  * {
    margin: 0px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
  }
  #nav-bar {
    display: block;
    gap: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #nav-bar #certificate {
    margin-left: 0px;
  }
  #nav-bar a {
    text-align: start;
    align-self: start;
  }
  #about {
    display: grid;
    grid-template-columns: 100%;
  }
  #job-info .container {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
  }
  #certificate .content {
    display: block;
    border-style: none;
  }
  #certificate .content .grid {
    display: block;
    border-style: none;
    padding-left: 0px;
    justify-content: center;
    padding: 0px;
  }

  #certificate .content .grid img {
    width: 100%;
    height: auto;
    
    margin-left: 0px;
    justify-content: center;
    padding: 0px;
  }
  #certificate .content #cert_mid img{
    border-style: none;
    padding-left: 0px;
  }
  #project .content {
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #project .content img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #project .content {
    display: grid;
    grid-template-columns: 70%;
  }
  #project .content .content-project{
    margin-top: 30px;

  }
  #job-info .container .header {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 40px;
  }
  #job-info .container #habits .content .habit i {
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
   
  }
}
