@media screen and (max-width: 1280px) {
  .avatar {
    display: none;
    margin-left: 20px;
  }
  #nav-bar {
    gap: 0px;
  }
  #nav-bar .nav {
    border-right: 1px solid rgb(219, 214, 214);
    border-left: 1px solid rgb(219, 214, 214);
  }
  #nav-bar #certificate {
    margin-left: 50px;
  }

  #job-info .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #job-info .container .header h1{
    padding-top: 30px;
  }
  #job-info .container .grid {
    padding: 0px;
    align-items: center;
  }
  #certificate .content {
    justify-content: center;
  }
  #certificate .content .grid {
    display: block;
    justify-content: center;
    align-items: center;
  }
  #project .content {
    justify-content: center;
    overflow: hidden;

  }
  #project .content img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 40%;
    min-height: min-content;
    min-width: 30%;
  }
  #job-info .container .header {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 40px;
  }
  #job-info .container #habits .content {
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }
  #job-info .container #habits .content .habit p{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #job-info .container #habits .content .habit i{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }
}
